* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Wendy One', sans-serif; */
}

.mx-130 {
    margin: 0 130px;
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    padding: 13px 45px 0;
    border-radius: 15px;

}


.header__left {
    padding-right: 40px;

}

.header__left .title {
    font-size: 43px;
    font-weight: 700;
    padding-bottom: 30px;

}

.header__left p {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 30px;
}

.header__left button {
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
}

.header__right {
    padding-left: 70px;

}

section {
    display: flex;
    margin-top: 55px !important;
}

aside {
    width: 200px;
    padding: 13px 0;
    margin-right: 15px;

}

aside ul {
    background-color: black;
    list-style: none;
    border-radius: 5px;
    padding: 10px;
}

aside ul li {
    background-color: white;
    margin: 15px 10px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

aside ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.active {
    background-color: red;
}

.active a {
    color: white;
}

main {
    padding: 13px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    border: 1px grey solid;
    border-radius: 4px;

}

.card-image {
    width: 100%;
}

.card-body {
    padding: 10px;
}

.card-body a {
    text-decoration: none;
    border: 1px black solid;
    border-radius: 3px;
    padding: 3px 10px;

}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.card-footer ul li {
    display: flex;
}